<div class="form-inline">
	<div class="form-group mb-2">
		<input type="text" 
		class="form-control mr-2" 
		placeholder="Search by theme" 
		[(ngModel)]="eventsFilter"
		>	
	</div>
</div>
<h3>Filter by: {{eventsFilter}}</h3>
<table class="table table-striped">
	<thead class="thead-dark">
		<tr>
			<th>#</th>
			<th>
				<button class="btn btn-outline-secondary" (click)="toggleShowImage()" >
					<i class="{{showImage ? 'fa fa-eye-slash' :  'fa fa-eye'}}"></i>
					Image
				</button>
			</th>
			<th>Theme</th>
			<th>Place</th>
			<th>Date</th>
			<th>Quantity of People</th>
			<th>Lot</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody *ngIf='events && events.length' >
		<tr  *ngFor="let event of eventsFiltered">
			<td>{{event.id}}</td>
			<td>		
				<img
					*ngIf="showImage"
					src="{{apiUrlImages}}/{{event.imageUrl}}"  
					[style.width.px]="imageWidth"
					[style.margin.px]="imageMargin"
				/>
			</td>
			<td>{{event.theme}}</td>
			<td>{{event.place}}</td>
			<td>{{event.eventDate | date:'dd/MM/yyyy'}}</td>
			<td>{{event.peopleAmount}}</td>
			<td>
				<div  *ngIf="!(event.lots.length !== 0)" >
					Não informado
				</div>
				<div *ngIf="event.lots.length !== 0" >
					{{event.lots[0].name| uppercase}}
				</div>
			</td>
			<td>
				<button  class="btn btn-success">'</button>
				<button  class="btn btn-danger">x</button>
			</td>
		</tr>
	</tbody>
	<tfoot *ngIf="!events.length">
		<tr>
			<td colspan="7" class="text-center">
				<h3>Events not found :(</h3>
			</td>
		</tr>
	</tfoot>
</table>

