<div class="form-inline">
	<div class="form-group mb-2">
		<input type="text" 
		class="form-control mr-2" 
		placeholder="Filter by theme" 
		[(ngModel)]="eventsFilter"
		>	
	</div>
</div>
<table class="table table-striped">
	<thead class="thead-dark">
		<tr>
			<th>#</th>
			<th>
				<button class="btn btn-outline-secondary" (click)="toggleShowImage()" >
					<i class="{{showImage ? 'fa fa-eye-slash' :  'fa fa-eye'}}"></i>
					Image
				</button>
			</th>
			<th>Theme</th>
			<th>Place</th>
			<th>Date</th>
			<th>Quantity of People</th>
			<th>Lot</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody *ngIf='events && events.length && !loading' >
		<tr  *ngFor="let event of eventsFiltered">
			<td>{{event.id}}</td>
			<td>		
				<img
					*ngIf="showImage"
					src="{{apiUrlImages}}/{{event.imageUrl}}"  
					[style.width.px]="imageWidth"
					[style.margin.px]="imageMargin"
				/>
			</td>
			<td>{{event.theme}}</td>
			<td>{{event.place}}</td>
			<td>{{event.eventDate | date:'dd/MM/yyyy'}}</td>
			<td>{{event.peopleAmount}}</td>
			<td>
				<div  *ngIf="!(event.lots.length !== 0)" >
					Não informado
				</div>
				<div *ngIf="event.lots.length !== 0" >
					{{event.lots[0].name| uppercase}}
				</div>
			</td>
			<td>
				<div class="btn-group">
					<button  class="btn btn-sm btn-primary"
					tooltip="Editar" (click)="openModal(template)" >
						<i class="fa fa-edit"></i>
					</button>
					<button  class="btn btn-sm btn-danger" tooltip="Excluir" >
						<i class="fa fa-eraser"></i>
					</button>
				</div>
			</td>
		</tr>
	</tbody>
	<tfoot *ngIf="loading">
		<tr>
			<td colspan="7" class="text-center">
				<span class="spinner-border" role="status">
				</span>
				<span style="margin-left: 1rem;" >Loading...</span>
			</td>
		</tr>
	</tfoot>
	<tfoot *ngIf="!events.length && !loading">
		<tr>
			<td colspan="7" class="text-center">
				<h3>Events not found :(</h3>
			</td>
		</tr>
	</tfoot>
</table>


<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Modal</h4>	
		<button type="button" class="close pull-right"
		aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		This is a modal
	</div>
</ng-template>